@import '~antd/dist/antd.css';

@font-face {font-family: "Berlin Sans FB Demi"; src: url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.eot"); src: url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.woff") format("woff"), url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.svg#Berlin Sans FB Demi") format("svg"); }
/* RWD Container */







/* general */
html{
  overflow-x: hidden;
}
 body {

  background-color: #9eaac7;
  /* overflow-x: hidden; */
  

}
.ant-layout{
  width: 100vw;
}
.container {
  width: 100vw;

}

.header{
  background: #FFFFFF;
}
.content{
  background: #303E47;
}
.member-content{
  background: rgba(78, 101, 115, 0.24);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.member-content-iner{
  width: 1205px;
  min-height: 100vh;
  
  background: #FFFFFF;
}
.mybag-content{
  background: #F0F0F0;
  min-height: 100vh;
}
.footer {
  background: #FFFFFF;
}
/* ----Appheader&Productheader------------------------------------------------------------------------------------------ */
.header-bg{
  position: relative;
  height: 511px;
  background: url(./images/top2.png);
  background-repeat:no-repeat;
  background-size: cover;
  padding: 0;
  filter: blur(2.5px);
  transform: scale(1.02);
  
}

.header-box{
  position: absolute;
  width: 100vw;
  height: 511px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.header-text{
  font-family: 'Berlin Sans FB Demi';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}
/* ----------------------------------------------------------- */

.ph-bg{
  position: relative;
  height: 350px;
  background: url(./images/map-bg.png);
  background-repeat:no-repeat;
  background-size: cover;
  padding: 0;
  filter: blur(2.5px);
  transform: scale(1.02)
}
.ph2-bg{
  position: relative;
  height: 350px;
  background: url(./images/Texurepacks-bg.png);
  background-repeat:no-repeat;
  background-size: cover;
  padding: 0;
  filter: blur(2.5px);
  transform: scale(1.02)
}
.ph3-bg{
  position: relative;
  height: 350px;
  background: url(./images/Mods-bg.png);
  background-repeat:no-repeat;
  background-size: cover;
  padding: 0;
  filter: blur(2.5px);
  transform: scale(1.02)
}
.ph-box{
  position: absolute;
  width: 100vw;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.ph-text{
  font-family: 'Berlin Sans FB Demi';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}







/* -------nav-------------------------------------------------------------------------------------------------------- */
.nav-bar {
  /* position: relative; */
  display: flex;
  background: #1F2240;
  position: fixed;
  width: 100%;
  justify-content:space-between;
  align-items:center;
  z-index: 20;

}
/* .hideUp{
  opacity: 0;
} */
.navbar-r{
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
.navbar-l{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.navbar-logo{
  width: 179px;
  height: 65px;
}

/* .navbar-search{
  width: 403px;
} */
.navbar-search{
  display: flex;
  flex-direction: row;
  width: 403px;
  height: 39px;
  background-color: aliceblue;
  border-radius: 14px;
  justify-content:space-between;
  align-items:center;
  margin-left: 10px;
  align-self:center;
}
.navsearch-text{
  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  margin-left: 15px;
  color: #9A9898;

}
.navbar-searchicon{
  
  width: 28px;
  height: 28px;
  
  margin-right: 7px;
}
.navbar-rwd-logo{
  display: none;
}
.navbar-icon{
  width: 48px;
  height: 48px;
  margin-right: 8px;
  margin-left: 8px;
}

/* ----------ProductNav-------------------------------------------------------------------- */
.pnav-bar{
  
  display: flex;
  height: 77px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;

}
.rwd-pnav{
display: none;
  
}
.pnav-search{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 165px;
  
}
/* ------------- */

/* --------------- */
.pnav-search-block{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
}
.pnav--inactive{
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  opacity: 0;
  background: #1F2240;
}
.pnav-search-block--active{
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  background: #1F2240;
  opacity: 1;
}

.pnav-search-img{
  width: 28px;
  height: 28px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
}
.pnav-search-text{
  font-family: 'Berlin Sans FB Demi';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}
.f01{
  width: 18px;
  height: 23px;
}
.f02{
  width: 27px;
  height: 18px;
}



/* -----content--Productcontent--------------------------------------------------------------------------------------------------- */
.pd-content{
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 75px;
}

.content-news{
  height: 705px;
  display: flex;
  flex-direction: column;

  /* justify-content:center; */
  }
.contentnews-title{
  margin-top: 40px;
    align-self:center;
    font-family: 'Berlin Sans FB Demi';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
    text-align: center;

    color: #FFFFFF;
  }

.ant-carousel{
  width: 1206px;

}
.carousel-img{
  width: 1206px;
height: 411px;

}
.contentnews-carousel{
  align-self:center;
  margin-top: 40px;
  margin-bottom: 110px;
}
.rwd-newimg{
display: none;
}
.content-between{
  background: url(./images/between.png);
  background-repeat:repeat;
  background-size: cover;
  width: 100%;
  height: 165px;

}
.content-shop{
  background-color: white;
  height: 580px;
}
.cshop-area{
  display: flex;
  flex-direction: row;
  justify-content:center;

}
.cshop-box{
  position: relative;
  margin-left: 40px;
  margin-right: 40px;

  
}
.cshop-img{
  
  width: 336px;
  height: 336px;
  /* border: 8px solid rgb(12, 67, 27); */
  /* box-shadow: 1px 7px 10px 2px rgba(0, 0, 0, 0.3); */

}

.cshop-masks{
  display: flex;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
  font-family: 'Berlin Sans FB Demi';
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

}


.cshop-masks:hover{
	transition: all 0.3s;
  opacity: 1;
}


.content-about{
  height: 425px;
  background: #303E47;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.content-about-logo{
  width: 700px;
  height: 210px;  
}

.content-about-buttom{
  width: 217px;
  height: 58px;
  background: #8DFFAD;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.content-about-buttom-text{
  font-family: 'Berlin Sans FB Demi';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 33px;
  display: flex;
  color: #303E47;
}
/* -----------Productitem-------------------------------------------------------------------- */
.pd-block-outside{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.pd-block{
  /* width: 335px; */
margin-left: auto;
margin-right: auto;
  height: 330px;
}
.productlist-div{
  margin-left: 10%;
  margin-right: 10%;
}
.pd-img{
  width: 335px;
  height: 225px;
  border-radius: 20px 20px 0px 0px;
}
.pd-text-block{
  width: 335px;
  height: 105px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  padding-left: 10px;
  padding-top: 8px;
}
.pd-text-title{
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  
}
/* .pd-text-intro{
  
  font-size: 14px;
  font-weight: normal;
  color: rgba(78, 78, 78, 0.644);

  
} */
.pd-text-maker{
  font-size: 16px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.644);
  margin-top: 16px;
}
.pd-text-bottom-area{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ff{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pd-text-bottom-icon{
  width: 20px;
  height: 20px;
  align-self: center;
}
.pd-text-bottom-num{
  align-self: center;
  font-weight: bold;
  color: rgba(48, 48, 48, 0.61);
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

/* ------------ProductDetailContent--------------------------------------------------------------------------------------- */
.pddel-content-big{
  margin-top: 50px;
}
.pddel-content{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  background: #F0F0F0;
  
}  
.back-block{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-bottom: 30px;

}
.back-bottom{
  border-style: solid;
  border-width: 20px 34.6px 20px 0;
  border-color: transparent #29A84C transparent transparent;
}
.back-text{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  
  color: #29A84C;
  margin-left: 10px;
}

.pddel-main-image{
  width: 691px;
  height: 460px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }





.pddel-small-img-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.pddel-small-image{
  width: 217px;
  height: 135px;
  border-radius: 10px;
}
.ant-image-mask{
  
  border-radius: 10px;
}


.pddel-text-block{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.pddel-text-title{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;

  display: flex;
  align-self: center;
  justify-self: center;
  line-height: 50px;
  
  color: #000000;

  margin-bottom: 50px;

}
.pddel-text-intro{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  
  color: #292929ad;
}
.pddel-text-maker-area{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.pddel-text-maker-img{
  width: 48px;
  height: 48px;
  
  background: #C4C4C4;
  border-radius: 99px;
}
.pddel-text-maker-name{
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  
  color: #8B8686;
  margin-left: 20px;
}
.pddel-text-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}
.pddel-text-list-area{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}


.pddel-text-list-ico{
  width: 30px;
  height: 30px;
}
.pddel-text-list-num{
  font-size: 20px;
  font-weight: bold;
  color: #686868;
  margin-left: 5px;
}
/* ----------- */
.pddel-text-choose{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.pddel-text-choose-area{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}
.version-block{
  display: flex;
  flex-direction: column;

}
.version-text ,
.edition-text{
  margin-bottom: 10px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
}
.edition-block{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.pddel-like-bottom{
  width: 48px;
  height: 46px;
  margin-left: 5px;
  margin-right: 5px;
  
}
.pddel-favor-bottom{
  width: 53px;
  height: 46px;
  margin-left: 5px;
  margin-right: 5px;
  

}
.pddel-text-bottom{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 376px;
  height: 89px;

  
  background: #FF9330;
  border-radius: 20px;
}
.pddel-text-bottom h1{
  
  font-family: sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: 0;


  
  color: #000000;
}



/* ----footer&pdfooter---------------------------------------------------------------------------------------------------- */
.footer-social-area{
  height: 230px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.footer-social-icon{
  width: 80px;
  height: 78.69px;
  margin-left: 20px;
  margin-right: 20px;
}
.footer-foot-area{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 70px;
  background: #1D262C;
  z-index: 10;
  
}
.footer-foot-logo{
  width: 50px;
  height: 40px;
  
}

/* ---------------------------------- */
.pd-footer-between{
  background-image: url(./images/pd-between.png);
  width: 100%;
  height: 166px;
  background-repeat:repeat;
  background-size: cover;

}
.pd-footer-social-area{
  height: 230px;
  background: #303E47;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

/* -------------------LoginFrom------------------------------- */

.login-pwd{
  margin-bottom: 5px;
}
.login-form-forgot{
  /* margin-left: 10px; */
  display: flex;
  flex-direction: row-reverse;
  color: rgb(0, 89, 255);
}

.login-btn{
  
  width: 150px;
  height: 46px;
  border-radius: 10px;
  
}
.login-login-text{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
  color: rgb(255, 255, 255);
}
/* .login-btn-area{
  margin-left: 0;
} */
/* ----------Logincontent-------------------------- */
.sign-rwd{
display: none;
}
.login-block{
  position: relative;
}
.login-bg{
  background-image: url(./images/login-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(1.02);
  width: 100%;
  height: 100vh;
  z-index: -5;
  
}
.login-from{
  position: absolute;
  
  top:53%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;

}
.login-from-bg{

  width: 700px;;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: rgba(255, 255, 255, 0.76);
  border-radius: 30px;


}

.login-title{
  font-family: 'Berlin Sans FB Demi',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #303E47;
  margin-bottom: 10px;
}
.login-from-flex{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
}
.login-from-l{
  display: flex;
  justify-content: center;
  width: 48%;

  

}
.login-from-r{
  display: flex;
  flex-direction: column;
  /* flex-direction: row;
  align-items: center;
  align-self: center; */
  justify-content: center;
  align-items: center;
  
  width: 48%;

}
.btw-text{
  display: flex;
  
  width: 4%;
  justify-content: center;

}
.btw-line{
  width: 5px;
  height: 380px;

  
  background: #7C7C7C;

}
.or-text{
  font-family: 'Berlin Sans FB Demi',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-google-bottom{
  width: 290px;
  height: 46px;

  
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
}
.login-google-bottom:hover{
  border: 1px solid #0099ff;
  
  
}
.login-google-text{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: rgb(0, 60, 255);
}

.google-ico{
  width: 36px;
  height: 36px;
  margin-left: 10px;
}
.login-sign-bottom{
  width: 290px;
  height: 46px;

 
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
}




.foget-btn{
  margin-top: 80px;
}
.fgt-title{
  margin-bottom: 100px;
  font-family:'Berlin Sans FB Demi',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  color: #303E47;
}
.fgt-botm{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 50px;
}

/* ------------------ */
.member-img{
  background-image: url(./images/member-bg.png);
  width: 1205px;
  height: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-name-bg{
  min-width: 100px;
  height: 92px;

  padding-left: 5px;
  padding-right: 5px;
  background: rgba(10, 10, 10, 0.79);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.member-name{
  font-family:sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 44px;

  
  color: #FFFFFF;
  
  
}
.member-nav{
  width: 1205px;
  height: 77px;
  left: 149px;
  top: 313px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

/* ------------------ */
.logout-img{
  height: 50px;
  width: 50px;
  margin-right: 30px;
  cursor: pointer;
}
.signup-title{
  font-family: 'Berlin Sans FB Demi',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  color: #303E47;
  margin-bottom: 50px;
}
.signup-from{
  width: 400px;
}
.signup-btn{
  margin-top: 50px;
}
.signup-bottom{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 50px;
}
.signup-text{
  margin-left: 10px;
}
.sigup-login-link{
  color: rgb(0, 89, 255);
}

/* --------mybag----------- */

.mybag-title{
  display: flex;
  font-family: 'Berlin Sans FB Demi',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 79px;
  margin-top: 100px;
  align-self: center;
  justify-content: center;
  color: #303E47;
}

.mybag-flex{
  display: flex;
  flex-direction: column-reverse;


}
.mybag-img{
  width: 348px;
  height: 349px;
  margin-left: 100px;
}
.mybag-bomimg{
  width: 100%;
  height: 166px;

}
.mybag-bomimg-color{
  height: 90px;
  background: #303E47;
}
/* .cart-image{

} */
.cart-item{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  background: rgba(6, 30, 83, 0.623);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 36px;
  padding: 20px;
  border-radius: 10px;
}
.cart-item-content{
  margin-left: 50px;
}
/* .cart-name{
  padding-left: 30px;
} */
.cart-item-end{
  margin-left: 50px;
}
.item-image{
  width: 120px;
  height: 118px;
  border-radius: 10px;
}
.mybag-content-item{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 40%;
  
  
}
.product-qty{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.select-style{
  min-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.bagempty-text{
  font-size: 50px;
}
.delete{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* .mybag-content-item-iner{
  
} */

/* ------------------------------------------------------------------- */
/* @media (max-width: 961px){
  .contentnews-carousel{
    display: none;
  }

} */
@media (max-width: 481px) {
  /* .container {
    width: 480px;

  } */
  .nav-bar{
    display: flex;
    position: fixed;
    flex-direction: column-reverse;
    justify-content: center;
    height: 109px;
    

  }

  .navbar-r{

    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
    margin: 0;
    

  }
  .navbar-l{

   margin: 0;
   margin-top: 10px;
  }
  .navbar-logo{

    display:none ;

  }
  .navbar-search{
    width: 401px;
height: 33px;
  }
  .navbar-rwd-logo{
    display: block;
    width: 117px;
    height: 40px;
    margin-right: 200px;
    

  }
  .navbar-icon{
    width: 38px;
    height: 38px;
    margin: 0;
  }
  /* --------------------------------------- */
  .header-bg{
    
    height: 400px;
    

  }
  
  .header-box{

    height: 400px;

    top: 50px;
  }
  .header-text{

    font-size: 36px;
    line-height: 40px;

  }
  /* ---------------------------------- */
  .content-news{
    height: 380px;
    }
  .contentnews-title{
    margin-top: 30px;

      font-size: 48px;
    }
  .rwd-newimg{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
  .ant-carousel{
    display: none;
  }
  .carousel-img{
    display: none;
  
  }
  .contentnews-carousel{
    display: none;
  }
  .content-between{
    height: 56px;
  
  }
  .content-shop{
    height: 1260px;
  }
  .cshop-area{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  
  }
  .cshop-box{
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    
  }

  
  .cshop-masks{

    opacity: 1;
  
  }

  
  .content-about{
    height: 332px;
    background: #303E47;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  .content-about-logo{
    width: 290px;
    height: 87px;
  }
  /* -------------------------------------- */
  .footer-social-area{
    height: 151px;

  }

  .footer-foot-logo{
    width: 50px;
    height: 40px;
    
  }

  /* ------------------product------------------- */


  .ph-bg{

    height: 280px;
    background: url(./images/Mapsimg-rwd.png);

    
  }

  /* -----------pnav */
  .pnav-bar{
    height: 50px;
  }
  .pnav-search{
    display: none;
  }
  .rwd-pnav{
    display: block;
    width: 100vw;
    height: 50px;
    
  }
  .ant-collapse-header{
    height: 49px;
  }
  .rwd-pnav-menu{
    font-family: "Berlin Sans FB Demi";
    font-size: 24px;

  }
  .pnav-search-text{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .productlist-div{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
  }
  .pd-block-outside{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pd-footer-between{
    width: 480px;
    height: 53px;
  }
  .pd-footer-social-area{
    width: 480px;
    height: 151px;
  }
  .footer-foot-area{
    height: 80px;
  }
  /* -------productdetail---------------------- */
  
  
  
  .pddel-content-big{
    margin-top: 10px;
  }
  .pddel-content{

    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }  

  .back-block{
    display: none;
  }

  
  
  .pddel-main-image{
    width: 429px;
    height: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 10px;
    }
  
  
  
  
  
  .pddel-small-img-block{
    display: none;
  }

 
  
  .pddel-text-block{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .pddel-text-title{

    font-size: 26px;
  
    display: flex;
    align-self: center;
    justify-self: center;
    align-self: center;
    line-height: 26px;
  
  
    margin-bottom: 20px;
  
  }
  .pddel-text-intro{
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-self: center;
  }
  .pddel-text-maker-area{
    margin-top: 20px;
  }
  .pddel-text-maker-img{
    width: 40px;
    height: 40px;
  }
  .pddel-text-maker-name{

    font-size: 18px;
  line-height: 21px;
  }

  .pddel-like-bottom{
    width: 30px;
    height: 29px;
    margin-left: 5px;
    margin-right: 5px;
    
  }
  .pddel-favor-bottom{
    width: 36px;
    height: 31px;
    margin-left: 5px;
    margin-right: 5px;
    
  
  }
  

  .pddel-text-bottom{

    width: 230px;
    height: 54px;   

  }
  .pddel-text-bottom h1{
    font-size: 28px;
  }
/* ------------------ */
.member-content{
  background: rgba(78, 101, 115, 0.24);

  
}
.member-content-iner{
  width: 480px;
  min-height: 100vh;
  
  background: #FFFFFF;
}
.mybag-content{
  background: #F0F0F0;
  min-height: 100vh;
}
.member-img{
  background-image: url(./images/member-rwd.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 194px;
  width: 480px;
}
.member-name-bg{
  min-width: 50px;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 100px;
}
.member-name{
  font-size: 20px;
  line-height: 22px;
}

.member-nav{
  width: 100%;

}
.logout-img{
  height: 40px;
  width: 40px;
  margin-right: 30px;
  cursor: pointer;
}
/* .member-content-iner-rwd{
  width: 480px;;
} */







/* ----------------------------------- */

/* .login-btn-area{
  margin-left: 0;
} */
/* ------------------------------------------------- */
/* ------------------------------------------------ */
/* ----------Logincontent-------------------------- */
.login-block{
  
}
.login-bg{
  /* background-image: url(./images/login-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(1.02);
  width: 100%;
  height: 100vh;
  z-index: -5; */
  
}
.login-from{
  width: 100%;
  top:0;
  left: 0;
  transform: translate(0, 0);
  min-height: 100vh;
  /* position: absolute;
  
  top:53%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex; */

}
.login-from-bg{
  min-height: 100vh;
  width: 100%;
  /* height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: rgba(255, 255, 255, 0.76); */
  border-radius: 10px;
  padding-bottom: 50px;


}

.login-title{

  font-size: 28px;
  line-height: 30px;

  margin-bottom: 0;
  margin-top: 200px;
}

.login-from-flex{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
}

.login-from-l{
  width: 100%;
}

.login-from-r{
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

}
.btw-text{
  display: none;

}
.btw-line{
display: none;

}

.sign-rwd-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.or-text{

  display: none;
}

.login-google-bottom{
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 99px;
  border: 2px solid rgba(81, 83, 192, 0.411);
  margin-bottom: 50px;

  
}
/* .login-google-bottom:hover{

  
} */
.login-google-text{
display: none;
}
.google-ico{
  width: 40px;
  height: 40px;
  margin: 0;
}
.login-sign-bottom{
  width: 110px;
  margin-bottom: 36px;

  
}
.login-signup-text{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: rgb(0, 60, 255);
}
.big-rwd{
  display: none;
}



.foget-btn{
  margin-top: 80px;
}
.fgt-title{
  margin-bottom: 30px;
  margin-top: 30px;

}
.fgt-botm{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 50px;

}
.signup-text{
  font-size: 20px;
}



.login-pwd{
  margin-bottom: 5px;
}
.login-form-forgot{
  /* margin-left: 10px; */
  display: flex;
  flex-direction: row-reverse;
  color: rgb(0, 89, 255);
}

.login-btn{
  
  width: 100px;
  /* height: 46px;
  border-radius: 10px; */
  
  
  
}

.sign-rwd{
  display: block;
}
.signup-title{
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 200px;
}
.signup-bottom{
  margin-bottom: 50px;
}



/* --------mybag------------------------ */

.mybag-title{

  font-size: 54px;
  line-height: 58px;
  margin-top: 150px;

}

.mybag-flex{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;


}
.mybag-img{
display: none;
}
.mybag-bomimg{
  width: 100%;
  height: 66px;

}
.mybag-bomimg-color{
  height: 20px;
  background: #303E47;
}
/* .cart-image{

} */
.cart-item{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  background: rgba(6, 30, 83, 0.623);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.cart-item-content{
  margin-left: 30px;
}
.product-qty{
  display: flex;
  flex-direction: column;

}
/* .cart-name{
  padding-left: 30px;
} */
.cart-item-end{
  margin-left: 30px;
}
.item-image{
  width: 100px;
  height: 80px;
  border-radius: 10px;
}
.mybag-content-item{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 0;
  
  
}
/* .product-qty{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.bagempty-text{
  font-size: 50px;
}
.delete{
  height: 40px;
  width: 40px;
  cursor: pointer;
}


} 